https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
psycopg2-binary==2.9.5  # from xivo-dao
pyyaml==6.0
sqlalchemy==1.4.46
sqlalchemy-utils==0.38.2  # from xivo-dao
stevedore==4.0.2
